CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

*.a
*.so*
*.dylib
.*.swp
.DS_Store

output
test/tarantool-*
test/test
*.xlog
*.snap
*.pid

.temp
valgrind*.out
*.pyc

doxygen
html
latex

deploy_key
deploy_key.pub
