sudo: required
language: C
compiler:
    - clang
    - gcc

services:
  - docker

cache:
    directories:
      - $HOME/.cache

env:
    global:
      - ENCRYPTION_LABEL="27298b445e90"
    matrix:
      - TARGET=documentation
      - TARGET=test
      - OS=el DIST=6
      - OS=el DIST=7
      - OS=fedora DIST=24
      - OS=fedora DIST=25
      - OS=ubuntu DIST=precise
      - OS=ubuntu DIST=trusty
      - OS=ubuntu DIST=xenial
      - OS=debian DIST=wheezy
      - OS=debian DIST=jessie
      - OS=debian DIST=stretch

matrix:
    allow_failures:
#      - env: OS=el DIST=6
#      - env: OS=el DIST=7
#      - env: OS=fedora DIST=24
#      - env: OS=fedora DIST=25
#      - env: OS=ubuntu DIST=precise
#      - env: OS=ubuntu DIST=trusty
#      - env: OS=ubuntu DIST=xenial
#      - env: OS=ubuntu DIST=yakkety
#      - env: OS=debian DIST=wheezy
#      - env: OS=debian DIST=jessie
#      - env: OS=debian DIST=stretch
    exclude:
      - env: OS=el DIST=6
        compiler: clang
      - env: OS=el DIST=7
        compiler: clang
      - env: OS=fedora DIST=24
        compiler: clang
      - env: OS=fedora DIST=25
        compiler: clang
      - env: OS=ubuntu DIST=precise
        compiler: clang
      - env: OS=ubuntu DIST=trusty
        compiler: clang
      - env: OS=ubuntu DIST=xenial
        compiler: clang
      - env: OS=debian DIST=wheezy
        compiler: clang
      - env: OS=debian DIST=jessie
        compiler: clang
      - env: OS=debian DIST=stretch
        compiler: clang
      - env: TARGET=documentation
        compiler: clang

script:
  - git describe --long
  - |
    if [ "${TARGET}" = "test" ]; then
        ./test.sh;
    elif [ "${TARGET}" = "documentation" ]; then
        ./documentation.sh;
    else
        git clone https://github.com/packpack/packpack.git packpack;
        packpack/packpack;
    fi;

before_deploy:
  - ls -l build/

deploy:
  # Deploy packages to PackageCloud
  - provider: packagecloud
    username: tarantool
    repository: "1_9"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && -n "${DIST}" && -n "${PACKAGECLOUD_TOKEN}"
  - provider: packagecloud
    username: tarantool
    repository: "1_10"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && -n "${DIST}" && -n "${PACKAGECLOUD_TOKEN}"
  - provider: packagecloud
    username: tarantool
    repository: "2_0"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && -n "${DIST}" && -n "${PACKAGECLOUD_TOKEN}"

notifications:
  email:
    recipients:
      - build@tarantool.org
    on_success: change
    on_failure: always
